Repository jackdbd/sketchboard: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:css, yarn run lint:js

Trying post-receive hook
  src/components/ErrorBoundary/styles.module.css
Due: yarn run lint:css

Use correct Travis badge in README
  .huskyrc.json
  README.md
Due: none

Small fixes
  src/components/Board/Board.tsx
  src/components/Board/observables.ts
  src/components/Board/renderers/index.ts
  src/components/Board/utils.ts
Due: yarn run lint:js

Add badges in README
  README.md
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Add packtracker webpack plugin
  config/webpack.config.js
  package.json
  yarn.lock
Due: yarn run lint:js

Setup crash reports with Sentry
  package.json
  src/components/App/App.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/FallbackUI.tsx
  src/components/ErrorBoundary/index.ts
  src/components/ErrorBoundary/styles.module.css
  src/index.tsx
  yarn.lock
Due: yarn run lint:css, yarn run lint:js

Set skipLibCheck to true to avoid compiling libraries
  tsconfig.json
Due: none

Setup packtracker's webpack plugin to upload stats for a production build
  config/webpack.config.js
Due: yarn run lint:js

Remove unused CSS
  src/components/Board/styles.module.css
  src/components/EventsList/styles.module.css
  src/css/index.css
Due: yarn run lint:css

Add snyk badge in README
  README.md
Due: none

Setup eslint to ensure that the rules of hooks are enforced
  .eslintrc.json
  package.json
  yarn.lock
Due: none

Silence eslint for config files
  config/env.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/paths.js
  config/webpackDevServer.config.js
Due: yarn run lint:js

Remove service worker
  src/index.tsx
  src/serviceWorker.ts
Due: yarn run lint:js

Add documentation for Sentry
  src/index.tsx
Due: yarn run lint:js

Add SidebarLayout component and refactor CSS
  .stylelintrc.json
  src/components/App/App.tsx
  src/components/SidebarLayout/SidebarLayout.tsx
  src/components/SidebarLayout/index.ts
  src/css/defaults.css
  src/css/index.css
  src/css/sidebar.css
  src/css/stack.css
  src/css/utility-classes.css
  src/css/variables.css
Due: yarn run lint:css, yarn run lint:js

Make the SVG board responsive
  src/components/App/App.tsx
  src/components/Board/Board.tsx
  src/components/Board/styles.module.css
  src/components/Main/Main.tsx
  src/components/Main/styles.module.css
Due: yarn run lint:css, yarn run lint:js

Cleanup CSS
  src/components/SidebarLayout/SidebarLayout.tsx
  src/css/index.css
  src/css/sidebar-layout.css
  src/css/stack-layout.css
  src/css/utility-classes.css
  src/css/variables.css
Due: yarn run lint:css, yarn run lint:js

Use save-svg-as-png to export SVG drawings as PNG files
  package.json
  src/components/Sidebar/Sidebar.tsx
  types/save-svg-as-png.d.ts
  yarn.lock
Due: yarn run lint:js

Use file-saver to export the drawing as SVG
  package.json
  src/components/Sidebar/Sidebar.tsx
  yarn.lock
Due: yarn run lint:js

Remove ant design
  package.json
  src/components/Sidebar/Sidebar.tsx
  src/css/index.css
  yarn.lock
Due: yarn run lint:css, yarn run lint:js

Add box CSS layout
  src/components/Board/Board.tsx
  src/components/Board/styles.module.css
  src/components/Sidebar/styles.module.css
  src/css/box-layout.css
  src/css/index.css
  src/css/stack-layout.css
  src/css/variables.css
Due: yarn run lint:css, yarn run lint:js

Add Exports component
  src/components/Exports/Exports.tsx
  src/components/Exports/index.ts
  src/components/Sidebar/Sidebar.tsx
Due: yarn run lint:js

Add Google font PortLligat Sans
  public/index.html
  src/css/defaults.css
Due: yarn run lint:css

Set APP_NAME with webpack DefinePlugin
  config/env.js
  config/paths.js
  public/index.html
Due: yarn run lint:js

Update test for Sidebar
  src/components/Sidebar/Sidebar.spec.tsx
Due: yarn run lint:js

Add ShapeStyleConfig component with react-hook-form
  package.json
  src/components/Board/Board.tsx
  src/components/Board/renderers/index.ts
  src/components/InteractionsLogger/InteractionsLogger.tsx
  src/components/ShapeStyleConfig/ShapeStyleConfig.tsx
  src/components/ShapeStyleConfig/index.ts
  src/components/ShapeStyleConfig/observables.ts
  src/components/ShapeStyleConfig/types.ts
  src/components/Sidebar/Sidebar.tsx
  yarn.lock
Due: yarn run lint:js

Remove react-hook-form, add ShapeSelect component
  package.json
  src/components/App/App.spec.tsx
  src/components/App/App.tsx
  src/components/Board/Board.tsx
  src/components/Board/renderers/index.ts
  src/components/InteractionsLogger/InteractionsLogger.tsx
  src/components/ShapeSelect/ShapeSelect.spec.tsx
  src/components/ShapeSelect/ShapeSelect.tsx
  src/components/ShapeSelect/index.ts
  src/components/ShapeSelect/observables.spec.ts
  src/components/ShapeSelect/observables.ts
  src/components/ShapeStyleConfig/ShapeStyleConfig.tsx
  src/components/ShapeStyleConfig/observables.ts
  src/components/ShapeStyleConfig/types.ts
  src/components/Sidebar/Sidebar.spec.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/index.ts
  yarn.lock
Due: yarn run lint:js

Render dashed circumference when drawing a circle
  src/components/Board/Board.tsx
  src/components/Board/observables.ts
  src/components/Board/renderers/index.ts
Due: yarn run lint:js

Add constyble to monitor CSS complexity
  .constyblerc.json
  package.json
Due: none

Add webhint for website audit
  .gitignore
  .hintrc
  package.json
  src/components/ShapeStyleConfig/ShapeStyleConfig.tsx
  yarn.lock
Due: yarn run lint:js

Path conditions:
  yarn run lint:css: any of: *.css
  yarn run lint:js: any of: *.{js,jsx,ts,tsx}
